article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #ebebeb; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

a {
  text-decoration: none; }

h1, h2, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1 {
  font-family: "Reem Kufi", sans-serif; }

p, input, label, li, textarea {
  font-family: "Neuton", serif; }

h2, h3 {
  font-family: "Reem Kufi", sans-serif; }

footer p {
  font-family: "Reem Kufi", sans-serif; }

p {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #3f3f3f; }

ul {
  display: flex; }

header {
  background-image: url("/styles/assets/vincentGuthFlipped.jpg");
  background-size: cover;
  padding: 200px;
  display: flex;
  justify-content: center;
  position: relative; }
  header h1 {
    font-size: 100px;
    position: relative;
    z-index: 2;
    margin: 5px; }
  header .headerColourBorder {
    border: 13px solid;
    border-image: url("/styles/assets/daria-shevtsova-57355.jpg") 15 15;
    padding: 75px 70px;
    width: 35%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 33%;
    z-index: 1; }
  header h2 {
    position: relative;
    bottom: 18%;
    text-align: center;
    padding: 2px; }

@media (max-width: 995px) {
  header h1 {
    font-size: 80px; } }

@media (max-width: 877px) {
  header h1 {
    font-size: 70px; }
  #headerColour {
    padding: 60px 130px;
    max-width: 40%; } }

@media (max-width: 817px) {
  header h1 {
    font-size: 60px; }
  #headerColour {
    padding: 60px 130px; } }

@media (max-width: 759px) {
  header h1 {
    font-size: 50px;
    padding-bottom: 10px; }
  .bottomHeader {
    margin-bottom: 10px; }
  #headerColour {
    padding: 60px 70px;
    border: 8px solid;
    border-image: url("/styles/assets/daria-shevtsova-573555.jpg") 15 15; } }

@media (max-width: 701px) {
  header {
    padding: 200px 100px; } }

@media (max-width: 500px) {
  header {
    padding: 100px 70px; }
    header h1 {
      padding-top: 30px; }
  #headerColour {
    padding: 70px 90px 30px 90px; } }

@media (max-width: 441px) {
  header h1 {
    font-size: 40px; } }

@media (max-width: 383px) {
  header h1 {
    font-size: 30px; } }

@media (max-width: 325px) {
  header {
    padding: 100px 50px; } }

.sectionHeader {
  font-size: 30px; }

.aboutMeSection {
  display: flex;
  padding-top: 70px; }
  .aboutMeSection p {
    padding: 5px 10px 5px 5px;
    font-size: 18px;
    margin: 10px 5px 10px 15px; }
  .aboutMeSection h2 {
    padding: 150px 0 30px 20px; }

.aboutMeImage {
  position: relative;
  min-width: 50%; }

.aboutImageBackLayer {
  width: 300px;
  position: relative;
  margin: 10px; }

.aboutColourBorder {
  width: 300px;
  border: 13px solid;
  border-image: url("/styles/assets/daria-shevtsova-573554.jpg") 15 15;
  margin: 10px;
  padding: 200px 0;
  position: absolute;
  top: 6%;
  left: 15%; }

.aboutImageFrontLayer {
  width: 300px;
  height: 400px;
  background: url("/styles/assets/scissors.jpg");
  filter: grayscale(20%);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 25%;
  left: 32%; }

@media (max-width: 950px) {
  .aboutImageBackLayer, .aboutColourBorder, .aboutImageFrontLayer {
    width: 200px;
    margin-left: 20%; }
  .aboutColourBorder {
    padding: 130px 0;
    top: 8%;
    left: 8%; }
  .aboutImageFrontLayer {
    top: 22%;
    left: 20%; }
  .aboutMeSection h2 {
    padding: 10% 0 0 0;
    margin-right: 30%; }
  .sectionHeader {
    margin-left: 60px; }
  .aboutMeCopy p {
    padding-left: 40px; } }

@media (max-width: 750px) {
  .aboutImageBackLayer, .aboutColourBorder {
    width: 170px;
    margin-left: 3%; }
  .aboutImageFrontLayer {
    width: 150px;
    margin-left: 3%;
    top: 45%;
    left: 25%; }
  .aboutColourBorder {
    top: 6%; }
  .aboutMeImage {
    margin-right: 20px;
    min-width: 40%; }
  .aboutMeSection p {
    font-size: 16px; } }

@media (max-width: 570px) {
  .aboutMeSection {
    flex-direction: column;
    align-items: center;
    padding-top: 25px; }
  .aboutMeCopy .bottomPara {
    margin-bottom: 12%; }
  .aboutImageFrontLayer {
    width: 150px;
    top: 45%;
    left: 35%;
    height: 220px; }
  .aboutColourBorder {
    padding: 120px 0; }
  .portSection {
    margin-top: 180px; }
    .portSection li {
      font-size: 20px;
      color: #3f3f3f; } }

.portSection p {
  text-align: left; }

.portItem1 h2, .portItem2 h2, .portItem3 h2 {
  margin-top: 20%; }

.portItem {
  margin: 100px; }
  .portItem li {
    line-height: 25px;
    font-size: 20px; }
  .portItem a {
    text-transform: uppercase;
    color: #3f3f3f;
    font-size: 15px;
    line-height: 20px; }
    .portItem a:hover {
      color: #0c0c0c;
      text-decoration: underline; }
  .portItem img {
    filter: drop-shadow(0px 1px 3px #bfbfbf); }

.portItem1, .portItem2, .portItem3, .portItem4 {
  display: flex; }

.portItem3 img {
  filter: drop-shadow(0px 1px 3px #3f3f3f); }

.portItem1 {
  margin-top: 40px; }

.portTitle {
  flex-direction: column;
  text-transform: lowercase;
  margin-bottom: 25px; }

.wipTitle {
  margin-bottom: 5px;
  margin-top: 0px; }
  .wipTitle:after {
    display: inline-block;
    content: "\2704";
    transform: rotate(90deg); }
  .wipTitle:before {
    display: inline-block;
    content: "\2704";
    transform: rotate(90deg); }

.wipTitleh2 {
  display: inline-block;
  padding: 5px 11px 2px;
  border: 2px dashed #0c0c0c;
  margin-bottom: 15px;
  margin-top: 75px; }

.portItemImageContainer {
  position: relative; }

.portImage1 {
  width: 350px;
  position: absolute;
  top: 28%;
  left: 18%; }

.portImage3 {
  width: 170px;
  position: absolute;
  top: 30%;
  left: 53%; }

.portImage31 {
  width: 170px;
  position: absolute;
  top: 10%;
  left: 23%;
  z-index: -1; }

.portImage2 {
  width: 300px;
  position: absolute;
  top: 18%;
  left: 30%; }

.portImage4 {
  position: absolute;
  width: 250px;
  top: 17%;
  left: 26%;
  padding: 8px;
  border: 3px #0c0c0c dashed; }

.scissorsIcon {
  max-width: 100px;
  position: absolute;
  z-index: 5;
  top: 10%; }

.portItem1Image, .portItem2Image, .portItem3Image {
  width: 300px;
  height: 400px;
  border: 13px solid; }

@media (max-width: 850px) {
  .portItem1Image, .portItem2Image, .portItem3Image {
    width: 200px;
    height: 300px; }
  .portImage1 {
    width: 250px; }
  .portImage2 {
    width: 200px;
    top: 28%; }
  .portImage3 {
    width: 120px;
    top: 33%; }
  .portImage31 {
    width: 120px;
    top: 11%; }
  .portImage4 {
    width: 170px; }
  .scissorsIcon {
    width: 70px; }
  .portTitle {
    font-size: 20px;
    margin-bottom: 5px; }
  .portItemDesc {
    margin-left: 20%;
    justify-content: center; }
    .portItemDesc li {
      font-size: 16px; }
  .portItem2, .portItem1, .portItem3, .portItem4 {
    justify-content: space-between; }
  .portSection {
    text-align: right; }
  .viewLinksContainer p {
    text-align: right; }
  .wipTitleh2 {
    margin-top: 20px; } }

@media (max-width: 767px) {
  .grimSpan {
    font-size: 14px; } }

@media (max-width: 627px) {
  .portItem1, .portItem2, .portItem3, .portItem4 {
    flex-direction: column;
    border: 13px solid;
    border-image: url("/styles/assets/daria-shevtsova-57355.jpg") 30 30;
    align-content: center;
    margin: 50px; }
  .portItemDesc {
    padding-right: 20px;
    padding-bottom: 20px; }
  .portItem1Image, .portItem2Image, .portItem3Image, .portItem4Image {
    border: none; }
  .portItem1Image img, .portItem4Image {
    width: 300px;
    width: 90%;
    left: 5%;
    top: 5%; }
  .portItem2Image img {
    width: 90%;
    left: 5%;
    top: 5%; }
  .portItem3Image img {
    width: 50%;
    left: 10%;
    top: 5%;
    margin: 0 auto; }
  .portTitle, .portItem1 h2, .portITem2 h2, .portItem3 h2 {
    margin-top: 10px; }
  .portItem1 {
    display: flex; }
  .portItem2 {
    height: 650px; }
  .portItemImageContainer {
    display: flex; }
  .portItem3 {
    height: 600px; }
  .portItem3Image img {
    width: 50%;
    left: 50%;
    transform: translateX(-50%); }
  .scissorsIcon {
    left: 15%; } }

@media (max-width: 550px) {
  .portItem3 {
    height: 500px; } }

@media (max-width: 511px) {
  .portItem2 {
    height: 550px; } }

@media (max-width: 488px) {
  .portItem4 {
    height: 550px; } }

@media (max-width: 476px) {
  .portItemImageContainer {
    height: 200px; } }

@media (max-width: 439px) {
  .portItem2 {
    height: 500px; } }

@media (max-width: 400px) {
  .portItem3 {
    height: 485px; } }

@media (max-width: 375px) {
  .portItem2 {
    height: 450px; }
  .portItem4 {
    height: 560px; } }

@media (max-width: 350px) {
  .portItem3 {
    height: 450px; } }

.portItem1Image {
  border-image: url("/styles/assets/daria-shevtsova-573552.jpg") 30 30; }

.portItem2Image {
  border-image: url("/styles/assets/daria-shevtsova-57355.jpg") 15 15; }

.portItem3Image {
  border-image: url("/styles/assets/daria-shevtsova-573554.jpg") 20; }

.portItemDesc {
  margin-left: 25%;
  margin-right: 0;
  justify-content: center; }

.portList {
  display: flex;
  flex-direction: column; }

.portHeader {
  margin-top: 15%;
  text-align: left; }

.viewLinksContainer {
  margin-top: 20px; }

.topIconList, .bottomIconList {
  display: flex; }

.firebaseIcon svg {
  width: 45px;
  height: 45px; }

.iconList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 90%;
  margin: 0 40px 0; }
  .iconList ul {
    margin-top: 80px; }
  .iconList svg {
    max-width: 45px;
    margin: 15px; }
  .iconList li {
    margin: 0 auto;
    text-align: center;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px; }
  .iconList p {
    font-family: "Reem Kufi", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-top: 3px; }

.topIconList, .bottomIconList {
  margin: 0 auto; }

.bottomIconList {
  margin: 0 auto; }

.iconList li {
  border: 1px solid #0c0c0c;
  width: 86px;
  height: 97px; }

@media (max-width: 685px) {
  .iconList li {
    width: 80px;
    height: 91px; }
  ul.iconList {
    margin: 80px auto; } }

@media (max-width: 600px) {
  .iconList li {
    width: 70px;
    height: 81px;
    font-size: 14px; }
  .jsIcon p {
    font-size: 10px;
    letter-spacing: 1px; } }

.contactSection {
  display: flex;
  justify-content: space-around;
  margin-top: 80px; }

.contactForm {
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  align-items: center; }
  .contactForm p {
    margin-bottom: 30px; }
  .contactForm h2 {
    margin-top: 30px; }

.contactIcons {
  display: flex;
  justify-content: space-around; }

.instaIcon, .twitterIcon {
  margin: 10px;
  width: 30px; }

.instaIcon {
  padding-top: 3px; }

.twitterIcon {
  padding-top: 5px; }

.linkedIcon {
  width: 50px; }

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 30px; }

.form {
  border: none;
  background-color: white;
  border-bottom: 1px solid #3f3f3f; }

textarea {
  margin: 10px 0 30px;
  padding: 10px; }

.bold {
  font-weight: bold; }

.contactImage {
  background: linear-gradient(rgba(119, 136, 153, 0.3), rgba(119, 136, 153, 0.3)), url("/styles/assets/contactImage.jpg");
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  position: absolute;
  top: 25%;
  right: 15%;
  filter: grayscale(100%); }

.contactImageBorder {
  border: 13px solid;
  border-image: url("/styles/assets/daria-shevtsova-57355.jpg") 30 30;
  width: 300px;
  position: relative; }

@media (max-width: 900px) {
  .contactImage {
    width: 250px; }
  .contactImageBorder {
    width: 250px;
    padding: 90px; } }

@media (max-width: 850px) {
  .contactImage {
    width: 210px; }
  .contactImageBorder {
    height: 400px;
    width: 150px;
    top: 12%; } }

@media (max-width: 750px) {
  .contactImage {
    display: none; }
  .contactImageBorder {
    display: none; } }

@media (max-width: 430px) {
  form {
    width: 90%; } }

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  background: linear-gradient(to top, rgba(235, 235, 235, 0.1), #ebebeb), url("/styles/assets/vincent-guth-358800-unsplashFooter.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding: 150px 50px 20px;
  position: relative;
  z-index: -1; }
  footer p {
    letter-spacing: 2px; }

.scrollButton {
  border: 3px solid mediumvioletred;
  padding: 5px 15px;
  position: relative;
  left: calc(50% - 75px);
  right: calc(50% - 75px);
  top: 210px;
  font-family: "Reem Kufi", sans-serif;
  font-size: 24px;
  color: #0c0c0c;
  border: 8px solid;
  border-image: url("/styles/assets/daria-shevtsova-57355.jpg") 50;
  background: #d9d9d9; }
