@import "setup";
@import "variables.scss";


body {
    background: $backgroundColour;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

h1{
    font-family: $h1Font;
}

p, h2, input, label, li {
    font-family: $copyFont;
}

h2 {
    font-family: $h1Font;
}

p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: $darkGrey;
}

ul {
    display: flex;
}

header {
    background-image: url("/styles/assets/vincent-guth-358800-unsplash.jpg");
    background-size: cover;
    padding: 200px;
    display: flex;
    justify-content: center;
}

.sectionHeader {
    font-size: 30px;
}

.headerColourBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 13px solid;
    border-image:url("/styles/assets/daria-shevtsova-57355.jpg") 30 30;
    padding: 70px;
    min-width: 300px;
    max-width: 500px;
    position: relative;
    h1 {
        position: absolute;
        font-size: 100px;
    }

    h2 {
        position: absolute;
        margin-top: 10px;
    }
}

.topHeader {
    top: -36%;
}

.bottomHeader {
    bottom: -36%;
}

.aboutMeSection {
    display: flex;
    padding-top: 100px;
    p {
    padding: 20px;
    }
    h2 {
        padding: 200px 0 0 20px;
    }
    
}

.aboutMeImage {
    position: relative;
    min-width: 50%;
}

.aboutImageBackLayer {
    width: 300px;
    position: relative;
    margin: 10px;
}

.aboutColourBorder {
    width: 300px;
    border: 13px solid;
    border-image:url("/styles/assets/daria-shevtsova-57355.jpg") 30 30;
    margin: 10px;
    padding: 200px 0;
    position: absolute;
    top: 6%;
    left: 15%;
}

.aboutImageFrontLayer {
    width: 300px;
    height: 400px;
    background-image: url("/styles/assets/scissors.jpg");
    position: absolute;
    top: 25%;
    left: 32%;
}

.portSection {
    margin-top: 200px;
    li {
        font-size: 20px;
        color: $darkGrey;
    }
}

.portHeader {
    padding-left: 20px;
}

.portItem {
    h2 {
        margin-top: 20%;
    }
    li {
        line-height: 25px;
    }
    a {
        text-transform: uppercase;
        color: $darkGrey;
        font-size: 15px;
        line-height: 20px;
        &:hover{
            color: $black;
            text-decoration: underline;
        }
    }
}

.portItem1, .portItem2, .portItem3 {
    display: flex;
}


.portItem {
    margin: 100px;
    img{
        filter: drop-shadow(0px 1px 3px $lightGrey);
    }
}

.portItem3 {
    img {
        filter: drop-shadow(0px 1px 3px $darkGrey);
    }
}

.portItem1 {
    margin-top: 40px;
}

.portTitle {
    flex-direction: column;
    text-transform: lowercase;
    margin-bottom: 25px;
}

.portItemImageContainer {
    position: relative;
}

.portImage1 {
    width: 350px;
    position: absolute;
    top: 28%;
    left: 18%;
}

.portImage3 {
    width: 170px;
    position: absolute;
    top: 30%;
    left: 53%;
}

.portImage31 {
    width: 170px;
    position: absolute;
    top: 12%;
    left: 23%;
    z-index: -1;
}

.portImage2 {
    width: 300px;
    position: absolute;
    top: 18%;
    left: 30%;
}

.portItem1Image, .portItem2Image, .portItem3Image {
    width: 300px;
    height: 400px;
    border: 13px solid;
    border-image:url("/styles/assets/daria-shevtsova-57355.jpg") 30 30;
}


.portItemDesc {
    margin-left: 25%;
}

.portList {
    display: flex;
    flex-direction: column;
}

.viewLinksContainer {
    margin-top: 20px;
}

.iconList {
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    svg {
        max-width: 50px;
        margin: 15px;
    }
}

.contactSection {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    p {
        margin-bottom: 30px;
    }
}

.contactIcons {
    display: flex;
    justify-content: space-around;
}

.instaIcon, .twitterIcon {
    margin: 10px;
    width: 30px;
}

.instaIcon {
    padding-top: 3px;
}

.twitterIcon {
    padding-top: 5px;
}

.linkedIcon {
    width: 50px;
}

form {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-content: center;
}

.bold {
    font-weight: bold;
}

.contactImage {
    background: linear-gradient(
    rgba(119,136,153,.3),
    rgba(119,136,153,.3)), 
    url("/styles/assets/contactImage.jpg");
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
    position: absolute;
    top: 25%;
    right: 15%;
    filter: grayscale(100%);
}

.contactImageBorder {
    border: $border;
    border-image: $borderImage;
    width: 300px;
    padding: 170px 0;
    position: relative;
}

// .typingHands {
//     width: 300px;
//     margin: 10px;
    
// }




