$black: #0c0c0c;
$white: #f2f2f2;
$darkGrey: #3f3f3f;
$middleGrey: #727272;
$lightGrey: #bfbfbf;

$copyFont:'Neuton', serif;
$h1Font: 'Reem Kufi', sans-serif;

$backgroundColour: #ebebeb;
$borderImage: url("/styles/assets/daria-shevtsova-57355.jpg") 30 30;
$border: 13px solid;


