$black: #0c0c0c;
$white: #f2f2f2;
$darkGrey: #3f3f3f;
$middleGrey: #727272;
$lightGrey: #bfbfbf;

$copyFont:'Neuton', serif;
$h1Font: 'Reem Kufi', sans-serif;

$backgroundColour: #ebebeb;
// $backgroundColour: linear-gradient(0deg, rgba(235,235,224,1) 0%, rgba(33,42,48,1) 42%, rgba(33,42,59,1) 100%);

$borderImage: url("/styles/assets/daria-shevtsova-57355.jpg") 30 30;
$border: 13px solid;


